# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

.idea

## propio del proyecto 
src/data.pth

##entorno virtual local
../venv

.DS_Store